#!/bin/sh
# can be symlinked to ~/.xsessionrc ~/.xprofile
# /etc/X11/xinit/xinitrc
#
# global xinitrc file, used by all X sessions started by xinit (startx)

# invoke global X session script
# Statusbar loop
/home/thashan/Suckless/bash/scripts/status.sh &
#feh --bg-scale /home/thashan/Suckless/Arch.jpg
# Autostart section

# can be symlinked to ~/.xinitrc removing below comment 
#exec dwm
